<%= form_with(model: @poll, local: true) do |f| %>
  <div class="mb-3">
    <%= f.label :question %>
    <%= f.text_field :question, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :is_published, "Published?" %>
    <%= f.check_box :is_published %>
    <small class="form-text text-muted">
      If checked, the poll is published and can be voted on.
    </small>
  </div>

  <h3>Answers</h3>

  <div data-controller="poll">
    <div data-poll-target="answers">
      <% @poll.answers.each do |answer| %>
        <div class="row mb-3 answer-field">
          <%= f.fields_for :answers, answer do |af| %>
            <%= af.label :text, "Answer" %>
            <div class="col-9">
              <%= af.text_field :text, class: "form-control answer-input" %>
            </div>
            <div class="col-3">
            <%= link_to "Remove", "#", data: { action: "click->poll#removeAnswer" }, class: "btn btn-danger btn-sm mt-2" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= link_to "Add another answer", "#", data: { action: "click->poll#addAnswer" }, class: "btn btn-secondary mb-3" %>

    <template data-poll-target="template">
      <div class="row mb-3 answer-field">
        <%= f.fields_for :answers, @poll.answers.build do |af| %>
          <%= af.label :text, "Answer" %>
          <div class="col-9">
          <%= af.text_field :text, class: "form-control answer-input" %>
          </div>
          <div class="col-3">
          <%= link_to "Remove", "#", data: { action: "click->poll#removeAnswer" }, class: "btn btn-danger btn-sm mt-2" %>
          </div>
        <% end %>
      </div>
    </template>
  </div>

  <div class="mb-3">
    <%= f.submit @poll.persisted? ? "Update Poll" : "Create Poll", class: "btn btn-success" %>
  </div>
<% end %>
